{% extends 'core/base.html' %}
{% block content %}
{% load static %}
    <div class="container">
    <h1 class=" mt-5 text-warning  border-bottom">CERTIFICATIONS AND ACHIEVEMENTS</h1>
    </div>
    <div class="container ">
        <div style=height:55px class="row border bg-secondary mt-5 ">
          <div class="col text-warning  text-left  mt-2">
            Introduction to IOT (Issued by Cisco)
          </div>
          <div class="col mt-2 text-right">
            <button class=" btn btn-outline-warning text-centre"><a class="text-warning" href="https://www.credly.com/badges/6767d2fd-08b1-4804-99a8-74b26b6f1182"> CheckOut the Certificate</a></button>
          </div>
        </div>
    </div>

    <div class="container ">
        <div style=height:55px class="row border bg-secondary mt-5 ">
          <div class="col text-warning text-left mt-2">
            Introduction to CyberSecurity (Issued by Cisco)
          </div>
          <div class="col mt-2 text-right">
            <button class=" btn btn-outline-warning text-centre"><a class="text-warning" href="https://www.credly.com/badges/ddc83247-3071-4ef4-bf67-306cc280c924"> CheckOut the Certificate</a></button>
          </div>
        </div>
    </div>

    <div class="container ">
        <div style=height:55px class="row border bg-secondary mt-5 ">
          <div class="col text-warning text-left mt-2">
            IT Essentials (Issued by Cisco)
          </div>
          <div class="col mt-2 text-right">
            <button class=" btn btn-outline-warning text-centre"><a class="text-warning" href="https://www.credly.com/badges/eb36098c-b52d-4890-ba00-fede9343c731"> CheckOut the Certificate</a></button>
          </div>
        </div>
    </div>

    <div class="container ">
        <div style=height:55px class="row border bg-secondary mt-5 ">
          <div class="col text-warning text-left mt-2">
            Python(Basic)Certificate (HackerRank)
          </div>
          <div class="col mt-2 text-right">
            <button class=" btn btn-outline-warning text-centre"><a class="text-warning" href="https://www.hackerrank.com/certificates/9b1446003d51"> CheckOut the Certificate</a></button>
          </div>
        </div>
    </div>

    <div class="container ">
        <div style=height:55px class="row border bg-secondary mt-5 ">
          <div class="col text-warning text-left mt-2">
            Virtusa Equity Engneering Hackathon
          </div>
          <div class="col mt-2 text-right">
            <button class=" btn btn-outline-warning text-centre"><a class="text-warning" href="https://www.credly.com/badges/6767d2fd-08b1-4804-99a8-74b26b6f1182"> CheckOut the Certificate</a></button>
          </div>
        </div>
    </div>
    
    
    <!--<div class="container">
          
        <div class="bg-secondary text-warning mt-5 ct">
          <span class="text-warning">Introduction to IOT(Issued by Cisco)</span>
          <span class="text-warning temp"><a class="temp2" href="https://www.credly.com/badges/6767d2fd-08b1-4804-99a8-74b26b6f1182"> CheckOut the Certificate</a>
        </div>   
        <div class="bg-secondary text-warning mt-5 ct">
          <span class="text-warning">Introduction to CyberSecurity(Issued by Cisco)</span>
          <span class="text-warning temp"><a class="temp2" href="https://www.credly.com/badges/ddc83247-3071-4ef4-bf67-306cc280c924"> CheckOut the Certificate</a>
        </div>   
        <div class="bg-secondary text-warning mt-5 ct  ">
          <span class="text-warning">IT Essentials(Issued by Cisco)</span>
          <span class="text-warning temp"><a class="temp2" href="https://www.credly.com/badges/eb36098c-b52d-4890-ba00-fede9343c731"> CheckOut the Certificate</a>
        </div>   
        <div class="bg-secondary text-warning mt-5 ct">
          <span class="text-warning">Python Basic Certificate(Hackerrank)</span>
          <span class="text-warning temp"><a class="temp2" href="https://www.hackerrank.com/certificates/9b1446003d51"> CheckOut the Certificate</a>
        </div>   
    </div>
-->

    

{% endblock content %}