{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="text-center mt-4">
  <img src="{% static 'core/images/pass.jpg' %}" alt="profilepic"
  class="img-thumbnail height="90px" width="220px" ">
  <div class="text-light text-left">
    <h2>Hello,</h2>
    <p class="text-justify mt-2">
      I am a final year MCA student . I am an ambitious and hard-working person,
      looking to kickstart my career in an esteemed organisation and incorporate
      my skills. Ambitious and hard-working individual. Holding a degree in
      Bachelors of Computer Application and pursuing MCA from Pranveer Singh Institute of Technology. 
    </p>
    
    <p class="text-justify mt-2">
      I am well-versed in C , Python and have
      programming experience on coding platforms such as LeetCode and HackerRank. I am also working on college
      and my personal projects. I have also learned HTML , CSS , core Java and DJANGO framework .
    </p>
    <a
      href="{% url 'contact' %}" class="btn btn-outline-info my-3 mr-5">Contact</a>
    <a href="https://leetcode.com/Shubhii_22/" target="_blank" class="btn btn-outline-info my-3 mr-5">LeetCode</a>
    <a href="https://www.hackerrank.com/31901_A" target="_blank" class="btn btn-outline-info my-3 mr-5">HackerRank</a>
    <a href="https://github.com/Shubhi-12" target="_blank" class="btn btn-outline-info my-3 mr-5">GitHub</a>
    <a href="https://drive.google.com/file/d/10FaNMwRSPQyu26euzMrFLwdg0E7hoGtz/view?usp=sharing" target="_blank" class="btn btn-outline-info my-3 mr-5">Resume</a>
    <a href="https://www.linkedin.com/in/shubhi-shukla-b99466212/" target="_blank" class="btn btn-outline-info my-3 mr-5">LinkedIn</a>
  </div>
</div>

{% endblock content %}
